body {
  background-color: #EEE;
}
div#container {
  margin: auto;
  width: 640px;
}

#container ul#messages {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #CCC;
  height: 600px;
  overflow: hidden;
  background-color: #FFF;
}

#container h1 {
  text-align: center;
}

#container ul#messages li {
  margin-left: 0px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: #000;
}
