body {
  background-color: #EEE;
}

div#container {
  width: 900px;
  height: 640px;
  margin-top: 10px;
  margin: auto;
}
div#channel {
  float: right;
  width: 640px;
}

#sidebar {
  width: 150px;
  margin-left: 10px;
  float: left;
  min-height: 640px;
  padding-top: 45px;
}

#sidebar form dd {
  margin-left: 0;
  width: 100%;
  vertical-align: middle;
}

#sidebar form input {
  font-size: 14pt;
  line-height: normal;
  box-sizing: border-box;
  margin: 0;
}

#sidebar form input[type='text'] {
  display: inline;
  width: 150px;
}

#sidebar ul#highlighters {
  list-style-type: none;
  padding-left: 0;
}

#sidebar ul#highlighters li {
  margin-left: 0px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

span.highlight {
  background-color: #00F;
  color: #FFF;
}

ul.messages {
  list-style-type: none;
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #CCC;
  overflow-y: scroll;
  background-color: #FFF;
  height: 400px;
}

#container ul.messages {
  height: 600px;
}

ul.messages li {
  margin-left: 0px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: #000;
}

#container h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 45px;
}

#sidebar h2 {
  text-align: center;
  margin: 0;
  padding: 0;
}

#channels {
  width: 820px;
  margin: auto;
}

#channels .channel {
  box-sizing: border-box;
  padding: 10px;
  width: 400px;
  margin-left: 10px;
  margin-top: 10px;
  display: block;
  float: left;
}
