body {
  background-color: #EEE;
}
div#container {
  margin-left: 320px;
  width: 640px;
}

#sidebar {
  width: 300px;
  margin-left: 10px;
  float: left;
  min-height: 640px;
}

#sidebar h2 {
  text-align: center;
}

#sidebar ul#highlighters {
  list-style-type: none;
}

#sidebar ul#highlighters li {
  margin-left: 0px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

span.highlight {
  background-color: #00F;
  color: #FFF;
}

#container ul#messages {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #CCC;
  height: 600px;
  overflow: scroll;
  background-color: #FFF;
}

#container h1 {
  text-align: center;
}

#container ul#messages li {
  margin-left: 0px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: #000;
}
