<!doctype html>
<html>
  <head>
    <meta name='channel' content='{{channel}}' />
    <script type='text/javascript' src='/rivulets/event-source.js'></script>
  </head>
  <body>
    <h1>{{channel}}</h1>
    <ul id='messages'></ul>
    <script type='text/javascript' src='/static/javascripts/channel.js'></script>
  </body>
</html>
