<!doctype html>
<html>
  <head>
    <meta name='channel' content='{{channel}}' />
    <link rel='stylesheet' href='/static/stylesheets/main.css' />
    <script type='text/javascript' src='/rivulets/event-source.js'></script>
  </head>
  <body>
    <div id='container'>
      <div id='sidebar'>
        <h2>Highlighting</h2>
        <form id="highlight_form">
          <dl>
            <dd>
              <input type='text' name='matcher' />
            </dd>
          </dl>
        </form>
        <ul id='highlighters'>
        </ul>
      </div>
      <div id='channel'>
        <h1>{{channel}}</h1>
        <ul class='messages'></ul>
      </div>
    </div>
    <script type='text/javascript' src='/static/javascripts/channel.js'></script>
  </body>
</html>
