<!doctype html>
<html>
  <head>
    <meta name='channel' content='{{channel}}' />
    <link rel='stylesheet' href='/static/stylesheets/main.css' />
    <script type='text/javascript' src='/rivulets/event-source.js'></script>
  </head>
  <body>
    <div id='container'>
      <h1>{{channel}}</h1>
      <ul id='messages'></ul>
    </div>
    <script type='text/javascript' src='/static/javascripts/channel.js'></script>
  </body>
</html>
